.user-form {
    margin-top: 8vh;
    height: fit-content;
    width: 710px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.create-user-textfield {
    background-color: #F5F5F7;
    width: 500px;
    margin-bottom: '10px';
    min-height: 56px;
    max-height: 56px;
}

.create-user-typography {
    font-weight: 550;
    line-height: 21.47px;
    font-size: 17px;
    color: #FFFFFF;
}

.custom-title {
    color: #6C5B57;
    padding-top: 32px;
    font-size: 38px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.textfield {
  background-color: #F5F5F7;
  width: 500px;
}

.textfield::label {
    width: 100%;
    text-align: center;
    transform-origin: left;
}

.textfield::label .Mui-focused {
    transform-origin: left;
}

.css-label {
    color: #A0A5BD;
}

.css-focused {
    color: black;
}

.notched-outline {
    border-width: 1px;
    border-color: #F5F5F7 !important;
}

.css-outlined-input .css-focused .notched-outline {
    border-color: #F5F5F7 !important;
}

@media only screen and (max-width: 768px) {
    .user-form {
        margin-top: 8vh;
        height: fit-content;
        width: 78vw;
        background-color: #FFFFFF;
        border-radius: 25px;
    }

    .textfield {
        background-color: #F5F5F7;
        width: 245px;
    }

    .textfield::label {
        width: 100%;
        text-align: center;
        transform-origin: left;
    }
    
    .textfield::label .Mui-focused {
        transform-origin: left;
    }
}